
/* Finalised CSS Styles  */

.product-action .product-price{
    color: #f0340efa;
    font-size: 4.4rem !important;
}
.brand_image{
    width: 140px;
    /* background: antiquewhite; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.button:hover {
    /* background-color: #315859; */
    color: #315859;
}
.button-group {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    padding-left: 60px;
    margin-bottom: 30px;
    z-index: 1000;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
  }
.button{
    padding-top: 5px; 
    margin-top: 10px;  
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: white;
    border: #000;
}
.vision{
    font-family: 'Open Sans';
    font-size: 30px !important;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
    text-align: left;
}
.heading_1{
    font-size: 30px;
    color: #315859;
    text-align: left;
    font-weight: 500;
    font-family: 'Barlow Condensed';
    padding-top: 20px;
    padding-bottom: 20px;
}
.breadcrumb-nav {
    color: #000;
    background: white;
    /* border-bottom: 3px solid #dfdfdf; */
    padding-top: 100px;
    margin-bottom: 0.2rem;
}
.about_section{
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 500 !important;
    color: #fff !important;
    font-size: 5rem !important;
}
.capabilities-section, .our-brands, .our-story {
    text-align: justify;
}
.menu .megamenu .submenu li:hover a {
    text-decoration: none;
}
.menu.sf-arrows>li>.sf-with-ul:after {
    display: none;
}

.header-icon .icon-user-2 {
    font-size: 18px;
}
.header-icon i {
    font-size: 20px;
}
.header-search {
    margin-right: 1rem;
    margin-left: 1.3rem;
    margin-top: 0px;
}
.header-middle .header-right {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Open Sans';
}
/* .header-icon:not(:last-child) {
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    margin-top: 0px;
} */
.search-toggle i:before {
    font-size: 18px;
}
.header-transparent {
    background: aliceblue;
}
.sticky-header.header-middle.fixed {
    height: 100px;
    background: aliceblue;
}
.logo_div{
    width: 200px;
}
.main-nav .menu>li>a {
    font-size: 14px;
    /* font-weight: 700; */
    line-height: 20px;
    /* letter-spacing: .50px; */
    color: #141a1f;
    padding: 15px 15px 15px 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.main-nav .menu>li{
    padding-left: 15px;
    padding-right: 15px;

}

.home-slider .banner-layer {
    left: 4.35%;
    padding-bottom: 6px;
    bottom: 10;
    bottom: 100px;
}

.slider_btn{
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(51, 119, 120);
    border-image: initial;
    text-decoration: none;
    padding: 13px 22px;
    border-radius: 10px;
}
.banner-layer h1{
    font-size: 80px;
    color:#fff;
    font-family: 'Barlow Condensed', sans-serif;
}
.banner-layer h1 span{
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif !important; 
}
.logo{
    display: none;
}
.slider_text{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: justify;
}

